:root {
    --background: #121212;
    --primary: #2f48ae;
    --primary: #3d81ac;
    --primary: #1e1a6e;
    --secondary: #2f48ae;
    --secondary-shador: #272c5b;
    --accent: #676dc1;
    --disabled: #3f3f3f;
    --disabled2: #282828;
}

body {
    background-color: var(--background);
    color:aliceblue;
}

h1,span{
    color: aliceblue;
    text-align: center;
}

input {
    padding:.5rem;
    width: 85%;
}

.in {
    margin-top: 2rem;
}

.in * {
    height:100%;
}

.in button {
    border-radius: 0;
    width: 15%;
    padding: .5rem;
}

.app {
    max-width: 700px;
    margin: 10rem auto 0 auto;
    
}

.interface {
    border: var(--accent) 2px solid;
    background-color: var(--primary);
    border-radius: 20px;
    padding:3em;
    box-shadow: 0 4px 6px rgba(213, 209, 209, 0.277), 
              0 2px 4px rgba(247, 246, 246, 0.06);
}
            
.list {
    text-decoration: none;
    padding:0;
}
            
.item {
    text-decoration: none;
    list-style: none;
    border: white 1px solid;
    background-color: var(--secondary);
    border-radius: 20px;
    width:80%;
    max-width: 500px;
    margin:  2rem auto 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(213, 209, 209, 0.277), 
    0 2px 4px rgba(247, 246, 246, 0.06);
    
    display: flex;
    justify-content: space-between;
    transition: scale .7s;
}

.item span {
    max-width: 80%;
    text-wrap:balance;
    display: inline-block;
}

.item:hover {
    background-color: var(--secondary-shador);
}

button {
    background-color: #F7FFF7;
    padding: .5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.done {
    background-color: var(--disabled);
    border: none;
    scale:.98;
    box-shadow: none;
}

.done span {
    text-decoration: line-through;

}

.done:hover {
    background-color: var(--disabled2);
}
